<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Followings</title>
    <link rel="stylesheet" href="/style/followings.css">
</head>
<body>
    <form id="searchForm">
        <div>
            <input type="search" id="mySearch" name="username" placeholder="search user"/>
            <button type="submit">search</button>
        </div>
    </form>

    <div id="searchResults"></div>

    <script src="/script/followings.js"></script>
</body>
</html>